@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: "";
  --light-title-color: #353535;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
  background-color: #fff;
}

img {
  user-select: none;
}
